@model FillFull.Models.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Dashboard</h2>
<hr />
<div class="row">
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-primary" data-feather="clock"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">@TimeSpan.FromMinutes(Model.TotalHoursMo).ToString(@"hh\:mm")</h3>
                        <div class="mb-0">Working Hours</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-warning" data-feather="watch"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">@TimeSpan.FromMinutes(Model.TotalExtraHoursMo).ToString(@"hh\:mm")</h3>
                        <div class="mb-0">Extra Hours</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="fa fa-euro-sign fa-2x text-info" data-feather="percent"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">@Model.TotalWageMo.ToString("0.00")</h3>
                        <div class="mb-0">Staff Wages</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <span class="badge badge-primary float-right">Monthly</span>
                <h5 class="card-title mb-0">Total staff Payments / working hours</h5>
            </div>
            <div class="card-body">
                <div class="chart chart-lg">
                    <canvas id="chartjs-dashboard-line"></canvas>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                // Line chart
                new Chart(document.getElementById("chartjs-dashboard-line"), {
                    type: 'line',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: "Payments (€)",
                            fill: true,
                            backgroundColor: "transparent",
                            borderColor: "#47BAC1",
                            data: [2015, 1465, 1487, 1796, 1387, 2123, 2866, 2548, 3902, 4938, 3917, 4927]
                        }, {
                            label: "Hours",
                            fill: true,
                            backgroundColor: "transparent",
                            borderColor: "#5fc27e",
                            borderDash: [4, 4],
                            data: [928, 734, 626, 893, 921, 1202, 1396, 1232, 1524, 2102, 1506, 1887]
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: {
                            display: false
                        },
                        tooltips: {
                            intersect: false
                        },
                        hover: {
                            intersect: true
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        },
                        scales: {
                            xAxes: [{
                                reverse: true,
                                gridLines: {
                                    color: "rgba(0,0,0,0.05)"
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 500
                                },
                                display: true,
                                borderDash: [5, 5],
                                gridLines: {
                                    color: "rgba(0,0,0,0)",
                                    fontColor: "#fff"
                                }
                            }]
                        }
                    }
                });
            });
        </script>
    </div>
    <div class="col-12 col-lg-4 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <span class="badge badge-info float-right">Today</span>
                <h5 class="card-title mb-0">Daily feed</h5>
            </div>
            <div class="card-body">
                @foreach (var item in Model.Activities)
                {
                    <div class="media">
                        <div class="media-body">
                            <strong>@item.ActivityText on</strong><br />
                            <small class="text-muted">Today @item.ActivityDate.ToShortTimeString()</small><br />
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 col-xl-6 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Currently Waiters status</h5>
            </div>
            <div class="card-body d-flex w-100">
                <div class="align-self-center chart chart-lg">
                    <table id="datatables-dashboard" class="table table-striped my-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Start at</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CorrentlyWaiters)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    @if (item.status == "Offline")
                                    {
                                        <td><span class="badge badge-danger">Offline</span></td>
                                    }
                                    else if (item.status == "Working")
                                    {
                                        <td><span class="badge badge-success">In work</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-warning">In break</span></td>
                                    }
                                    <td>@item.StartAt</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="col-12 col-xl-6 d-none d-xl-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Weekly top 5 Weatires</h5>
            </div>
            <div class="card-body d-flex">
                <div class="align-self-center w-100">
                    <div class="py-3">
                        <div class="chart chart-xs">
                            <canvas id="chartjs-dashboard-pie"></canvas>
                        </div>
                    </div>

                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Weatire</th>
                                <th class="text-right">Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fas fa-square-full text-primary"></i> Mohammad</td>
                                <td class="text-right">70</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-square-full text-warning"></i> Ahmad</td>
                                <td class="text-right">65</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-square-full text-danger"></i> Mahmoud</td>
                                <td class="text-right">60</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-square-full text-dark"></i> Shadi</td>
                                <td class="text-right">50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                // Pie chart
                new Chart(document.getElementById("chartjs-dashboard-pie"), {
                    type: 'pie',
                    data: {
                        labels: ["Direct", "Affiliate", "E-mail", "Other"],
                        datasets: [{
                            data: [2602, 1253, 541, 1465],
                            backgroundColor: ["#47BAC1", "#fcc100", "#f44455", "#E8EAED"],
                            borderColor: "transparent"
                        }]
                    },
                    options: {
                        responsive: !window.MSInputMethodContext,
                        maintainAspectRatio: false,
                        legend: {
                            display: false
                        }
                    }
                });
            });
        </script>
    </div>
</div>

